body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;

}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,208,0.7931547619047619) 70%, rgba(0,212,255,1) 100%);
    color: wheat;
    font-weight: 400;
    letter-spacing: 0.2em;
    word-spacing: 0.3em;
    padding: 2px;

}

header img {
    width: 15%;
    border-radius: 150px;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,208,0.7931547619047619) 70%, rgba(0,212,255,1) 100%);
    padding: 7px 32px;
    font-weight: 400;
    color: wheat;
    border-radius: 15px;
}

ul, dl{
    margin: 20px;
    font-size: 17px;
    line-height: 30px
}

li, dt, dd{

    line-height: 24px;
}

dd{
    color: #051e2e;
    font-weight: 400;
}
span{
    font-family: 'Kiwi Maru', serif;
    color: #4d88e0;

}

 footer {
    background-color: #033d63;
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    height: 35px;
    
}
footer img{
    width: 20px;
    height: auto;
}

.item-detail {
    font-style: italic;
    font-weight: bold;
}